@use 'variables' as v;

html {
  box-sizing: border-box;
  font-size: 62.5%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: v.$grisClaro;
  font-family: v.$fuentePrincipal;
  font-size: 1.6rem;
}

p {
  font-size: 2rem;
}
[class$='contenedor'],
.contenedor {
  margin: 0 auto;
  max-width: 1200px;
  width: 95%;
}
img {
  display: block;
  max-width: 100%;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.seccion {
  padding: 8rem 0;
}
